/***** VERSION DESKTOP *****/

.logement_container {
    width: 90%;
    max-width: 1240px;
    margin: auto;
    color: #FF6060;
}

.logement_ads {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.logement_title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 40px;
}

.logement_location {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.logement_tags {
    display: flex;
    margin-top: 25px;
}

.logement_rate_host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/***** VERSION TABLETTE *****/

@media (max-width: 992px) {

.logement_title {
    font-size: 18px;
    line-height: 25px;
}

.logement_location {
    font-size: 14px;
}
}

/***** VERSION MOBILE *****/

@media (max-width: 768px) {

.logement_container {
    margin: auto;
}

.logement_ads {
    flex-direction: column;
}

.tags_container p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logement_tags {
    margin-top: 5px;
}

.logement_rate_host {
    margin-top: 10px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
}
}