/***** VERSION DESKTOP *****/

.logement_collapses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
}

.collapse_container {
    width: 47%;
    padding: 10px 0px;
}

.collapse-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF6060;
    border-radius: 10px;
    border: none;
    height: 47px;
    width: 100%;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    font-family: montserrat;
    font-size: 20px;
    color: #F2F2F2;
}

.collapse-description {
    font-family: montserrat;
    color: #FF6060;
    size: 24px;
    background: #F2F2F2;
    border-radius: 0px 0px 5px 5px;
    padding: 40px 0px 40px 20px;
    line-height: 25px;
    position: relative;
    top: -5px;
    z-index: -1;
}

.collapse-description ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/***** VERSION MOBILE *****/

@media (max-width: 768px) {

    .logement_collapses {
        flex-direction: column;
    }

    .collapse_container {
        width: 100%;
    }

    .banner_about_img img {
        height: 223px;
    }

    .collapses {
        width: 90%;
    }

    .collapse_container {
        padding: 0;
    }
    .collapse-button {
        margin-top: 8px;
        margin-bottom: 12px;
        font-size: 12px;
        height: 35px;
    }
    .collapse-description {
        font-size: 11px;
    }
    .arrowDown {
        height: 10px;
    }
    .arrowUp {
        height: 10px;
    }
}