/***** VERSION DESKTOP *****/

.host_container {
    display: flex;
    justify-content: flex-end;
}
  
.host {
      font-size: 18px;
      font-weight: 500;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.host p {
    margin: 0;
    text-align: end;
}
  
.host_picture {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}


/***** VERSION TABLETTE *****/

@media (max-width: 992px) {

.host {
    font-size: 15px;
}

.host_picture {
    width: 48px;
    height: 48px;
}
}
  
@media (max-width: 768px) {

.host {    
    font-size: 12px;
}

.host_picture {
    width: 32px;
    height: 32px;
}
}