/***** VERSION DESKTOP *****/

.rating {
    display: flex;
    align-items: center;
}
  
.star_item {
    width: 35px;
    margin-left: 5px;
}
 
/***** VERSION TABLETTE *****/

@media (max-width: 992px) {

.star_item {
    width: 25px;
    height: auto;
}
}

/***** VERSION MOBILE *****/
  
@media (max-width: 768px) {
        
.star_item {
    width: 15px;
    height: auto;
} 
}
  