/***** VERSION DESKTOP *****/

.footer {
    width: 100%;
    height: 160px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
    align-items: center;
    margin-top: 10rem;
    padding-top: 80px;
}

.logo_footer {
    width: 122px;
    filter: saturate(0);
    filter: brightness(50);
}

.mentions {
    margin-top: 50px;
    font-size: 24px;
}

/****** VERSION MOBILE *****/

@media (max-width: 768px) {

.logo_footer {
    margin: auto;
    left: 0;
    right: 0;
}

.mentions {
    margin-top: 30px;
    font-size: 12px;
}
}

