.footer {
    position: relative;
    width: 100%;
    height: 209px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
    align-items: center;
    margin: 10rem 0 0 0;
}

.logo_footer {
    width: 122px;
    position: absolute;
    left: 45.76%;
    right: 45.76%;
    top: 31.58%;
    bottom: 49.55%;
    filter: saturate(0);
    filter: brightness(50);
}

.mentions {
    margin-top: 134px;
    font-size: 24px;
}



